@import "tailwindcss";
@import "@fontsource/dm-sans/700.css";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";

:root {
  --color-bg-canvas: #0a0a0a;
  --color-bg-surface: #1a1a1a;
  --color-bg-surface-raised: #303030;
  --color-text-primary: #ffffff;
  --color-text-secondary: #cacaca;
  --color-text-muted: #616161;
  --color-primary: #158060;
  --color-primary-hover: #1d9e75;
  --color-border: #303030;
  --color-danger: #eb6767;
  --color-danger-bg: #240000;
  --color-success: #85d7be;
  --color-success-bg: #062e24;
}

body {
  background: var(--color-bg-canvas);
  color: var(--color-text-primary);
  font-family: "Inter", sans-serif;
}

h1, h2, h3, .font-heading {
  font-family: "DM Sans", sans-serif;
}
